/** ---------------- SF Pro Text Family ----------------*/

/* Thin */
@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SFPro-Text/SF-Pro-Text-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display:fallback;
}

/* Light */
@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SFPro-Text/SF-Pro-Text-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display:fallback;
}

/* Regular */
@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SFPro-Text/SF-Pro-Text-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display:fallback;
}

/* Medium */
@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SFPro-Text/SF-Pro-Text-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display:fallback;
}

/* Semibold */
@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SFPro-Text/SF-Pro-Text-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display:fallback;
}

/* Bold */
@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SFPro-Text/SF-Pro-Text-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display:fallback;
}

/* Heavy */
@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SFPro-Text/SF-Pro-Text-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display:fallback;
}

/* Black */
@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/SFPro-Text/SF-Pro-Text-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display:fallback;
}