/** ---------------- SF Pro Text Family ----------------*/

@font-face {
  font-family: "SF Pro Text";
  src: url("@/assets/fonts/SF-Pro-Text/SF-Pro-Text-Ultralight.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("@/assets/fonts/SF-Pro-Text/SF-Pro-Text-Thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("@/assets/fonts/SF-Pro-Text/SF-Pro-Text-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("@/assets/fonts/SF-Pro-Text/SF-Pro-Text-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("@/assets/fonts/SF-Pro-Text/SF-Pro-Text-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("@/assets/fonts/SF-Pro-Text/SF-Pro-Text-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("@/assets/fonts/SF-Pro-Text/SF-Pro-Text-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("@/assets/fonts/SF-Pro-Text/SF-Pro-Text-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("@/assets/fonts/SF-Pro-Text/SF-Pro-Text-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


/** ---------------- Fira Code Family ----------------*/

@font-face {
  font-family: "Fira Code";
  src: url("@/assets/fonts/FiraCode/FiraCode-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("@/assets/fonts/FiraCode/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("@/assets/fonts/FiraCode/FiraCode-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("@/assets/fonts/FiraCode/FiraCode-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("@/assets/fonts/FiraCode/FiraCode-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}